
<div id="panel-box" class="container">
  <div id="header-box" class="row">
    <header class="col-md-12">
      <div class="white-board">
        <div id="head-nav" class="btn-group">
          <button type="button" class="btn btn-success">
            <i class="fa fa-cog"></i>
          </button>
          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
            <span class="caret">
              
            </span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
      </div>
    </header>
  </div>
  <div id="workspace-box" class="row">
    <div id="sidebar-box" class="col-md-3">
      <div class="white-board">
        add this button to login page for checking /auth zone for authorization
        <span id="checkSession" ng-click="checkSessionClick()" type="button" class="btn btn-default">
          Categories
        </span>
        <span id="to-projects" ng-click="goToProjects()" type="button" class="btn btn-default">
          Projects
        </span>
      </div>
    </div>
    <div id="data-box" class="col-md-8 half">
      <div class="white-board">
        
      </div>
    </div>
  </div>
  <div id="footer-box" class="row">
    <footer class="col-md-12">
      <div class="white-board">
        
      </div>
    </footer>
  </div>
</div>