<div class="container">
  <div class="row">
    <div id="login-box">
      <div class="email-box form-group">
        <label for="email">
          Email:
        </label>
        <input type="text" id="email" value="krulatik@gmail.com" class="form-control" placeholder="@">
      </div>
      <div class="pswd-box form-group" >
        <label for="email">
          Password:
        </label>
        <input type="text" id="pswd" value="123123" class="form-control" placeholder="Type your password">
      </div>
      <div class="btns-box form-group">
        <a href="#" ng-click="postLogin($event)" class="btn btn-default" > Log in </a>
        <a href="#" ng-click="getPanel($event)" class="btn btn-default" > get panel </a>
      </div>
    </div>
  </div>
</div>