extends layout
block content
  
  //div( class='demo' )
    div( class='circle' )
      div( class='inner' )
    div( class='circle' )
      div( class='inner' )
    div( class='circle' )
      div( class='inner' )
    div( class='circle' )
      div( class='inner' )
    div( class='circle' )
      div( class='inner' )

  div(ng-view, id="view-box")
  //div(id='spinner')
     div(class='spinner')

  //- h1= title
  //- p Welcome to #{title}
  //- input(id='login', type='text')
  //- input(id='password', type='password')
  //- span(ng-click="sendData(event)") Send hui-pizda
