doctype html
html(ng-app='mainApp')
  head
    title= title
    meta(charset='utf-8')
    link(rel = 'stylesheet', href = '/css/bootstrap.min.css')
    link(rel = 'stylesheet', href = '/css/font-awesome.min.css')
    link(rel = 'stylesheet', href = '/css/main.css')
  body(data-ng-controller='App' data-ng-init='init()')
    block content
    script(src = './js/libs/jquery-2.1.1.js')
    script(src = './js/libs/bootstrap.js')
    script(src = './js/libs/aes.js')
    script(src = './js/libs/require.js', data-main='./js/main.js')
